<a href="https://colab.research.google.com/github/smartysam9821/DS/blob/master/smartysam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
df= pd.read_excel('depression.xls')

In [0]:
df.head()

   Hospt       Treat        Outcome     Time  AcuteT  Age  Gender
0      1     Lithium     Recurrence   36.143     211   33       1
1      1  Imipramine  No Recurrence  105.143     176   49       1
2      1  Imipramine  No Recurrence   74.571     191   50       1
3      1     Lithium     Recurrence   49.714     206   29       2
4      1     Lithium  No Recurrence   14.429      63   29       1

In [0]:
df.shape

(109, 7)

In [0]:
def univariate(df):
  columns = [c for i, c in enumerate(df.columns) if df.dtypes[i] in [np.object, np.int,np.float]]
  cat = []
  quant = []
  
  for i in columns:
    if len(np.unique(df[i])) < df.shape[0]/10:
      cat.append(i)
    else:
      quant.append(i)
  
  def stat():
    dframe = pd.DataFrame()
    for i in quant:
      data = {'mean :':np.mean(df[i]),'median: ':df[i].median()}
      dframe.append(data, ignore_index=True)
    
    return dframe

In [0]:
univariate(df)